<ion-content class="has-header has-subheader has-footer">

    <div id="login">

    <!--<form class="list list-inset" action="http://staging.kauhsar.com/getLogin.php" method="POST">-->
    <form>
    <fieldset class="padding">

    <label class="item item-input">
        <input id="userid" type="text" placeholder="User ID" ng-model="userID">
    </label>
        <label class="item item-input">
    <input type="password" id="password" placeholder="Password" ng-model="userPass" > <!-- JS because of IE support; better: placeholder="password" -->
        </label>
    <input type="button" value="Sign In" class="button button-block button-positive" ng-click="chkAuth()">

    </fieldset>

    </form>

    </div>


</ion-content>
<ion-footer-bar class="bar-stable"></ion-footer-bar>




