<ion-content class="has-header has-subheader has-footer">

    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="User Name">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password">
        </label>
    </div>
    <div class="padding">
    <button class="button button-block button-positive">login</button>
    <a ui-sref="question" href="#/questions0">Questions</a>
    </div>
</ion-content>
<ion-footer-bar class="bar-stable">This is Footer</ion-footer-bar>


