<ion-content class="has-header has-footer">



    <div class="list padding">
        <h4>Q{{mark+1}} : {{variable[mark].question}}</h4>
        <label  class="item item-radio">
            <input type="radio" name="group" id="1" ng-click="okay(1)">
            <div class="item-content" >
                1 :  {{variable[mark].opt1}} <input id="11" type="radio" name="group" >
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
            <input type="radio" name="group" id="2" ng-click="okay(2)">
            <div class="item-content" >
                2 :  {{variable[mark].opt2}}  <input id="22" type="radio" name="group" >
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
            <input type="radio" name="group" id="3" ng-click="okay(3)">
            <div class="item-content" >
                3 :  {{variable[mark].opt3}} <input id="33" type="radio" name="group" >
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
            <input type="radio" name="group" id="4" ng-click="okay(4)">
            <div class="item-content" >
                4 :  {{variable[mark].opt4}} <input id="44" type="radio" name="group" >
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
        
    </div>
</ion-content>
<ion-footer-bar class="bar-stable">

    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="preQues()">Back</a>
    {{correctAnswers}}
    <a class="button icon-right ion-chevron-right button-calm" ng-click="nextQues()">Next  </a>

</ion-footer-bar>
<input type="radio" id="0" ng-hide="true">

